#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gradient-background {
  background: linear-gradient(to bottom, #afafaf 20%, #ffffff 50%);
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  padding: 120px 20px 80px 20px;
}

.project-card {
  background-color: #acacac86;
  border: 3px solid #646464;
  border-radius: 20px;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  width: 95%;
  max-width: 900px;
  margin: 40px auto; /* Changed to center it */
  display: flex;
  flex-direction: column;
  gap: 0rem;
  color: #f7f7f7;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* sections */
.project-card h1 {
  margin: 0;
  font-size: 2.5rem;
}

.project-date {
  color: #555555;
  margin: 0;
  font-size: 0.95rem;
  margin-top: 10px;
}

.team-label {
  font-size: 20px;
  color: #5c5c5c;
  margin: 15px 0 5px 0;
}

.team-list {
  color: #747474;
  font-size: 0.9rem;
  line-height: 1.5;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;
}

.project-media {
  width: 100%;
  border-radius: 12px;
}

.caption {
  font-size: 0.85rem;
  color: #8d8d8d;
  font-style: italic;
  margin-top: 8px;
}

.text-content h3 {
  color: #444343;
  margin-bottom: 6px;
  padding-top: 20px;
  padding-bottom: 0px;
  width: fit-content;
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
}

.text-content p {
  color: #505050;
  line-height: 1.4;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 45px;
  padding-right: 45px;
}