#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gradient-background {
  background: linear-gradient(to bottom, #b6b6b6b6 20%, #edeeed 85%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*project classes*/
.project-card {
  background-color: #2a2a2a;      
  border: 2px solid #1a1a1a;      
  border-radius: 16px;             
  padding: 2rem;
  width: 90%;                     
  max-width: 800px;                
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  
  display: flex;
  flex-direction: column;          /* Stacks content vertically */
  gap: 1.5rem;                     /* Spacing between elements */
  color: #eeeeee;
}

.project-media {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.caption {
  font-size: 0.9rem;
  color: #aaa;
  font-style: italic;
  margin-top: -1rem;              
}